.navbar {
    background-color: #1771F1;
    -webkit-box-shadow: -4px 6px 25px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 6px 25px -10px rgba(0,0,0,0.75);
    box-shadow: -4px 6px 25px -10px rgba(0,0,0,0.75);
}

.navbar-brand  {
    color: white;
    font-size: 26pt !important;
}

.nav-item:not(:last-child){
    margin: 0 10px;
}

.nav-item a{
    color: white;
    font-size: 16pt;
}

.active > span {
    border-bottom: 0.12rem solid white;
}
